/* static/info.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f8fa;
  color: #075e72;
}

.main-section {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  max-width: 50%;
}

.right-section {
  flex: 1;
  text-align: center;
}

.line {
  background-color: #075e72;
}

.back {
  display: flex;
  padding-right: 35px;
  margin-top: 20px;
}

.backbutt {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.back img {
  width: 30px;
  height: 20px;
}

.map-img {
  width: 100px;
}

.try-btn {
  background-color: #aacaca;
  color: #075e72;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
  display: inline-block;
  margin-right: 350px;
  text-decoration: none;
}

.selection-tabs {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 0 40px;
  position: relative;
  direction: rtl;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #075e72;
  position: relative;
  z-index: 2;
}

.tab.active {
  border-bottom: 2px solid #075e72;
  font-weight: bold;
}

.selection-tabs::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #adafaf;
  z-index: 1;
}

.content-box {
  padding: 30px;
  max-width: 800px;
  margin: auto;
  line-height: 1.8;
  background-color: transparent;
  min-height: 430px;
}